<div style="min-height: 100vh;" class="bg-success text-light text-center p-2 d-flex flex-column">
    <h5 class="mb-5 text-warning border rounded p-4 shadow fw-border"><i class="fa-solid fa-user-graduate me-2"></i> Cookpedia Admin</h5>
    <a routerLink="/admin" class="text-decoration-none text-light fw-bolder mb-4"> <i class="fa-solid fa-chart-simple me-2"></i> Dashboard</a>
    <a routerLink="/admin/recipe-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-bowl-food me-2"></i> Recipe List</a>
    <a routerLink="/admin/user-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-user me-2"></i> User List</a>
    <a routerLink="/admin/download-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-download me-2"></i>Download List</a>
    <a routerLink="/admin/request-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-message me-2"></i> Feedback List</a>

</div>