<div class="container-fluid">
    <div class="row">
      <div style="min-height: 100vh;" class="col-lg-2 bg-success ">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="col-lg-10">
        @if (id) {
          <h1 class="text-center my-3">update Recipe Details</h1>

        }@else {
          <h1 class="text-center my-3">Add Recipe Details</h1>

        }
        <div class="container my-5 border rounded text-center p-5 shadow w-75">
          <img width="100px" height="100px" class="mb-2" [src]="recipeDetails.image" alt="no Image" />
  
          <div class="row">
            <div class="col-6">
              <div class="mb-2">
                <input [(ngModel)]="recipeDetails.name" placeholder="Recipe Name" type="text" class="form-control" />
              </div>
  
              <div class="mb-2">
                <input [(ngModel)]="recipeDetails.prepTimeMinutes" placeholder="Recipe Preparation time in Minutes" type="text" class="form-control" />
              </div>
  
              <div class="mb-2">
                <input [(ngModel)]="recipeDetails.image" placeholder="Recipe Image URL" type="text" class="form-control" />
              </div>
  
              <div class="mb-2">
                <label for="cuisine">Choose Cuisine type</label>
                <select [(ngModel)]="recipeDetails.cuisine" name="cuisine" id="cuisine" class="form-control">
                  <option selected hidden disabled>Choose Cuisine type</option>
                  @for (item of cuisineArray; track $index) {
                    <option>{{item}}</option>
                  }
                
                </select>
              </div>
  
              <div class="mb-2 d-flex align-items-center">
                <textarea #ingredients class="form-control" placeholder="Add Recipe Ingredients"></textarea>
                <button (click)="addIngredients(ingredients)" class="btn btn-primary ms-1">+</button>
              </div>
              @for (item of ingredient; track $index) {
                <div class="d-flex align-items-center mb-2">
                  <input  [value]="item" class="form-control" placeholder="Recipe Ingredients" />
                  <button (click)="removeIngredients(ingredient)" class="btn ms-1">
                    <i class="fa-solid fa-trash text-danger"></i>
                  </button>
                </div>
              }
             
            </div>
            <div class="col-6">
                <div class="mb-2">
                  <input [(ngModel)]="recipeDetails.servings" placeholder="Recipe Servings (ex: 4 )" type="text" class="form-control" />
                </div>
              
                <div class="mb-2">
                  <input [(ngModel)]="recipeDetails.cookTimeMinutes" placeholder="Recipe Cooking Time in Minutes" type="text" class="form-control" />
                </div>
              
                <div class="mb-2">
                  <input [(ngModel)]="recipeDetails.caloriesPerServing" placeholder="Recipe Calorie Per Serving (ex: 350)" type="text" class="form-control" />
                </div>
              
                <div class="mb-2">
                  <label for="difficulty">Choose Mode of Cooking</label>
                  <select [(ngModel)]="recipeDetails.difficulty" name="cuisine" id="difficulty" class="form-control">
                    <option selected hidden disabled>Choose Mode of Cooking</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                  </select>
                </div>
              
                <div class="mb-2 d-flex align-items-center">
                  <textarea [(ngModel)]="recipeDetails.instructions" #instruction class="form-control" placeholder="Cooking Instructions"></textarea>
                  <button (click)="addInstructions(instruction)" class="btn btn-primary ms-1">+</button>
                </div>
                @for (item of instructions; track $index) {
                  <div class="d-flex align-items-center mb-2">
                    <input [value]="item"  class="form-control" placeholder="Recipe Instruction" />
                    <button (click)="removeInstractions(item)" class="btn ms-1">
                      <i class="fa-solid fa-trash text-danger"></i>
                    </button>
                  </div>
                }
              
              </div>              
          </div>
       
        <div class="mb-3">
            <div class="border rounded p-2">
                <p>Choose Meal Type of the Recipe :
                  @if (id){
                   @for (item of mealType; track $index) {
                    <span class="m-2 border rounded p-1" >{{item}}
                    <i (click)="removeMealType(mealType)" class="fa-solid fa-close"></i></span>

                  } 
                  }@else {
                    @for (item of mealType; track $index) {
                      <span class="m-2 border rounded p-1" >{{item}}
                     </span>
                    }
                  }
                </p>
                <div class="d-flex flex-wrap my-1">
                  @for (item of mealTypeArray; track $index) {
                    <div class="border rounded p-1 m-2">
                      <label >
                          <input (change)="mealtypeSelect($event)" type="checkbox" [name]="item" [id]="item">{{item}}
                      </label>
                  </div>
                  }
                  
                </div>
            </div>
        </div>
        @if (id) {
           <button (click)="updateRecipe()" class="btn btn-success">Update Recipe</button>
        }@else {
          <button (click)="addRecipe()" class="btn btn-success">Add Recipe</button>

        }
      </div>
    </div>
  </div>
  