<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-10">
           <h1>All Client Feedback List</h1>
           <table class="table shadow">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Feedback</th>
                    <th>Action / Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allFeedbacks; track $index; let i=$index) {
                <tr>
                    <td> {{i+1}} </td>
                    <td> {{item.name}} </td>
                    <td>{{item.email}} </td>
                    <td>{{item.message}} </td>
                    <td>
                        @if (item.status == "Pending") {
                      
                            <button (click)="updateFeedbackStatus(item._id, 'Approved')" class="btn btn-success me-2"><i class="fa-solid fa-check"></i></button>
                            <button (click)="updateFeedbackStatus(item._id, 'Rejected')" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>
                        }@else if (item.status== "Approved"){
                            <button class="btn btn-success me-2">Approved</button>
                           
                        }@else {
                          
                            <button class="btn btn-danger">Rejected</button>
                        }
                     
                    </td>
                </tr>
            }
            </tbody>
           </table>
        </div>
    </div>
</div>