<div style="height: 100vh; background-image: url('https://static.vecteezy.com/system/resources/thumbnails/033/027/755/small_2x/flat-design-food-recipe-book-recipe-online-concept-free-vector.jpg');" 
     class="container d-flex justify-content-center align-items-center flex-column">

  <h1>Login</h1>
  <p>More than 100 plus Recipes from around the world</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()" style="width: 400px;" class="shadow border rounded p-5 mt-5">
    
    <div class="mb-5 text-center">
      <h3><i class="fa-solid fa-graduation-cap"></i> Cookpedia</h3>
    </div>

    <div class="mb-3">
      <input name="email" formControlName="email" type="email" class="form-control" placeholder="E Mail">
    </div>
    @if(loginForm.get("email")?.errors && loginForm.get("email")?.touched){
        <div class="mb-3 text-danger">
            *Invalid Email
          </div>
    }

  

    <div class="mb-3">
      <input name="password" formControlName="password" type="password" class="form-control" placeholder="Password">
    </div>

    @if(loginForm.get("password")?.errors && loginForm.get("password")?.touched){
        <div class="mb-3 text-danger">
            *Invalid Email
          </div>
    }

    <div class="d-grid mt-3">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
    
  </form>
</div>
