<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-10">
       
            <h1>All User List </h1>
            <table class="table my-5 shadow">
                <thead>
                    <tr>
                        <th>#Number</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of allUsers; track $index; let i = $index) {
                        <tr>
                            <td> {{i+1}} </td>
                            <td> {{user.username}} </td>
                            <td> {{user.email}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>