<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-md-10">
            <h1>All Download List</h1>
            <table class="table border shadow my-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipe ID</th>
                        <th>Recipe Name</th>
                        <th>Recipe Cuisine</th>
                        <th>Recipe Download Count</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of allDownloadList; track $index; let i=$index) {
                        <tr>
                            <th> {{i+1}} </th>
                            <th> {{item.recipeId}} </th>
                            <th> {{item.recipeName}}</th>
                            <th>{{item.recipeCuisine}} </th>
                            <th> {{item.conut}} </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>